# Copy this file to .env.local and fill in the values

DROPBOX_TOKEN=YOUR_DROPBOX_API_TOKEN
DROPBOX_SHARED_LINK=https://www.dropbox.com/scl/fo/5d2lvg0ht29ojmj6kmp3t/AHAKfa4i-i6yrpjyaWINS2E?rlkey=sk76gcfq7kzby9918w6tae4q9&st=0oglorva&dl=0